@mixin float-grid-columns-rtl($class) {
  .col($index) { // initial
    $item: ".rtl .col-#{$class}-#{$index}";
    @include col(($index + 1), $item);
  }
  .col($index, $list)  { // general
    $item: ".rtl .col-#{$class}-#{$index}";
    .col(($index + 1), "#{$list}, #{$item}");
  }
  .col($index, $list){ // terminal
    #{$list} {
      float: right;
    }
  }
  .col(1); // kickstart it
}

@mixin calc-grid-column($index, $class, $type)  {
  .rtl .col-#{$class}-offset-#{$index} {
    margin-right: percentage(($index / $grid-columns));
    margin-left: 0;
  }
}

// Create grid for specific class
@mixin make-grid-rtl($class) {
  @include float-grid-columns-rtl($class);
}