/*------------------------------------------------------------------
[Fonts - Open Sans]
*/
/* Open Sans Webfont Kit
 * -------------------------- */
/* Light 300
 * -------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('#{$open-sans-path}/light/opensans-light-webfont.eot');
  src: url('#{$open-sans-path}/light/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('#{$open-sans-path}/light/opensans-light-webfont.woff') format('woff'), url('#{$open-sans-path}/light/opensans-light-webfont.ttf') format('truetype'), url('#{$open-sans-path}/light/opensans-light-webfont.svg#OpenSansLight') format('svg');
  font-weight: 300;
  font-style: normal; }

/* Light 300 Italic
 * -------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('#{$open-sans-path}/light-italic/opensans-light-italic-webfont.eot');
  src: url('#{$open-sans-path}/light-italic/opensans-light-italic-webfont.eot?#iefix') format('embedded-opentype'), url('#{$open-sans-path}/light-italic/opensans-light-italic-webfont.woff') format('woff'), url('#{$open-sans-path}/light-italic/opensans-light-italic-webfont.ttf') format('truetype'), url('#{$open-sans-path}/light-italic/opensans-light-italic-webfont.svg#OpenSansLightItalic') format('svg');
  font-weight: 300;
  font-style: italic; }

/* Regular 400
 * -------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('#{$open-sans-path}/regular/opensans-regular-webfont.eot');
  src: url('#{$open-sans-path}/regular/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('#{$open-sans-path}/regular/opensans-regular-webfont.woff') format('woff'), url('#{$open-sans-path}/regular/opensans-regular-webfont.ttf') format('truetype'), url('#{$open-sans-path}/regular/opensans-regular-webfont.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Regular 400 Italic
 * -------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('#{$open-sans-path}/italic/opensans-italic-webfont.eot');
  src: url('#{$open-sans-path}/italic/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'), url('#{$open-sans-path}/italic/opensans-italic-webfont.woff') format('woff'), url('#{$open-sans-path}/italic/opensans-italic-webfont.ttf') format('truetype'), url('#{$open-sans-path}/italic/opensans-italic-webfont.svg#OpenSansItalic') format('svg');
  font-weight: normal;
  font-style: italic; }

/* Semibold 600
 * -------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('#{$open-sans-path}/semibold/opensans-semibold-webfont.eot');
  src: url('#{$open-sans-path}/semibold/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('#{$open-sans-path}/semibold/opensans-semibold-webfont.woff') format('woff'), url('#{$open-sans-path}/semibold/opensans-semibold-webfont.ttf') format('truetype'), url('#{$open-sans-path}/semibold/opensans-semibold-webfont.svg#OpenSansSemibold') format('svg');
  font-weight: 600;
  font-style: normal; }

/* Semi-Bold 600 Italic
 * -------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('#{$open-sans-path}/semibold-italic/opensans-semibold-italic-webfont.eot');
  src: url('#{$open-sans-path}/semibold-italic/opensans-semibold-italic-webfont.eot?#iefix') format('embedded-opentype'), url('#{$open-sans-path}/semibold-italic/opensans-semibold-italic-webfont.woff') format('woff'), url('#{$open-sans-path}/semibold-italic/opensans-semibold-italic-webfont.ttf') format('truetype'), url('#{$open-sans-path}/semibold-italic/opensans-semibold-italic-webfont.svg#OpenSansSemiboldItalic') format('svg');
  font-weight: 600;
  font-style: italic; }

/* Bold 700
 * -------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('#{$open-sans-path}/bold/opensans-bold-webfont.eot');
  src: url('#{$open-sans-path}/bold/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('#{$open-sans-path}/bold/opensans-bold-webfont.woff') format('woff'), url('#{$open-sans-path}/bold/opensans-bold-webfont.ttf') format('truetype'), url('#{$open-sans-path}/bold/opensans-bold-webfont.svg#OpenSansBold') format('svg');
  font-weight: bold;
  font-style: normal; }

/* Bold 700 Italic
 * -------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('#{$open-sans-path}/bold-italic/opensans-bold-italic-webfont.eot');
  src: url('#{$open-sans-path}/bold-italic/opensans-bold-italic-webfont.eot?#iefix') format('embedded-opentype'), url('#{$open-sans-path}/bold-italic/opensans-bold-italic-webfont.woff') format('woff'), url('#{$open-sans-path}/bold-italic/opensans-bold-italic-webfont.ttf') format('truetype'), url('#{$open-sans-path}/bold-italic/opensans-bold-italic-webfont.svg#OpenSansItalic') format('svg');
  font-weight: bold;
  font-style: italic; }

/* Extrabold 800
 * -------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('#{$open-sans-path}/extrabold/opensans-extrabold-webfont.eot');
  src: url('#{$open-sans-path}/extrabold/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('#{$open-sans-path}/extrabold/opensans-extrabold-webfont.woff') format('woff'), url('#{$open-sans-path}/extrabold/opensans-extrabold-webfont.ttf') format('truetype'), url('#{$open-sans-path}/extrabold/opensans-extrabold-webfont.svg#OpenSansExtrabold') format('svg');
  font-weight: 800;
  font-style: normal; }

/* Extra-Bold 800 Italic
 * -------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: url('#{$open-sans-path}/extrabold-italic/opensans-extrabold-italic-webfont.eot');
  src: url('#{$open-sans-path}/extrabold-italic/opensans-extrabold-italic-webfont.eot?#iefix') format('embedded-opentype'), url('#{$open-sans-path}/extrabold-italic/opensans-extrabold-italic-webfont.woff') format('woff'), url('#{$open-sans-path}/extrabold-italic/opensans-extrabold-italic-webfont.ttf') format('truetype'), url('#{$open-sans-path}/extrabold-italic/opensans-extrabold-italic-webfont.svg#OpenSansExtraboldItalic') format('svg');
  font-weight: 800;
  font-style: italic; }
