/*------------------------------------------------------------------
[Fonts]
*/
/*------------------------------------------------------------------
[Fonts - Raleway]
*/
@font-face {
  font-family: "Raleway";
  src: url('#{$raleway-path}/thin/raleway-thin.eot');
  src: url('#{$raleway-path}/thin/raleway-thin.eot?#iefix') format('embedded-opentype'), url('#{$raleway-path}/thin/raleway-thin.woff') format('woff'), url('#{$raleway-path}/thin/raleway-thin.ttf') format('truetype'), url('#{$raleway-path}/thin/raleway-thin.svg#ralewaythin') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url('#{$raleway-path}/extralight/raleway-extralight.eot');
  src: url('#{$raleway-path}/extralight/raleway-extralight.eot?#iefix') format('embedded-opentype'), url('#{$raleway-path}/extralight/raleway-extralight.woff') format('woff'), url('#{$raleway-path}/extralight/raleway-extralight.ttf') format('truetype'), url('#{$raleway-path}/extralight/raleway-extralight.svg#ralewayextralight') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url('#{$raleway-path}/light/raleway-light.eot');
  src: url('#{$raleway-path}/light/raleway-light.eot?#iefix') format('embedded-opentype'), url('#{$raleway-path}/light/raleway-light.woff') format('woff'), url('#{$raleway-path}/light/raleway-light.ttf') format('truetype'), url('#{$raleway-path}/light/raleway-light.svg#ralewaylight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url('#{$raleway-path}/regular/raleway-regular.eot');
  src: url('#{$raleway-path}/regular/raleway-regular.eot?#iefix') format('embedded-opentype'), url('#{$raleway-path}/regular/raleway-regular.woff') format('woff'), url('#{$raleway-path}/regular/raleway-regular.ttf') format('truetype'), url('#{$raleway-path}/regular/raleway-regular.svg#ralewayregular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url('#{$raleway-path}/medium/raleway-medium.eot');
  src: url('#{$raleway-path}/medium/raleway-medium.eot?#iefix') format('embedded-opentype'), url('#{$raleway-path}/medium/raleway-medium.woff') format('woff'), url('#{$raleway-path}/medium/raleway-medium.ttf') format('truetype'), url('#{$raleway-path}/medium/raleway-medium.svg#ralewaymedium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url('#{$raleway-path}/semibold/raleway-semibold.eot');
  src: url('#{$raleway-path}/semibold/raleway-semibold.eot?#iefix') format('embedded-opentype'), url('#{$raleway-path}/semibold/raleway-semibold.woff') format('woff'), url('#{$raleway-path}/semibold/raleway-semibold.ttf') format('truetype'), url('#{$raleway-path}/semibold/raleway-semibold.svg#ralewaysemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url('#{$raleway-path}/bold/raleway-bold.eot');
  src: url('#{$raleway-path}/bold/raleway-bold.eot?#iefix') format('embedded-opentype'), url('#{$raleway-path}/bold/raleway-bold.woff') format('woff'), url('#{$raleway-path}/bold/raleway-bold.ttf') format('truetype'), url('#{$raleway-path}/bold/raleway-bold.svg#ralewaybold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url('#{$raleway-path}/extrabold/raleway-extrabold.eot');
  src: url('#{$raleway-path}/extrabold/raleway-extrabold.eot?#iefix') format('embedded-opentype'), url('#{$raleway-path}/extrabold/raleway-extrabold.woff') format('woff'), url('#{$raleway-path}/extrabold/raleway-extrabold.ttf') format('truetype'), url('#{$raleway-path}/extrabold/raleway-extrabold.svg#ralewayextrabold') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url('#{$raleway-path}/heavy/raleway-heavy.eot');
  src: url('#{$raleway-path}/heavy/raleway-heavy.eot?#iefix') format('embedded-opentype'), url('#{$raleway-path}/heavy/raleway-heavy.woff') format('woff'), url('#{$raleway-path}/heavy/raleway-heavy.ttf') format('truetype'), url('#{$raleway-path}/heavy/raleway-heavy.svg#ralewayheavy') format('svg');
  font-weight: 900;
  font-style: normal;
}