/* Import main Inspinia style */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "html/assets/css/style.less";

.am-splash-screen {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
}

.am-splash-screen {
h1{
    color:white;
}
} 