/* Import main Inspinia style */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "html/assets/lib/morrisjs/morris.css";
@import "html/assets/css/style.css";
@import "assets/fonts/alef/stylesheet.css";

.am-splash-screen {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
}

.am-splash-screen {
    h1{
        color:white;
    }
}

.logo-wide-image{
    max-width: 100%;
}
html.rtl.he-il{
   h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: 'Alef' !important;
   }
   body{
    font-family: 'Alef' !important;
   }
} 
.row.am-datatable-header .dt-buttons.btn-group{
    float: left;
    margin-top: 10px;
}
.rtl .tab-left .nav-tabs > li > a,.rtl .tab-right .nav-tabs > li > a{
text-align: right;
}
.dataTables_processing.panel.panel-default{
    text-align: center;
}
 
.has-ng-error .ng-invalid {
  border-color: #EF6262;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-ng-error .ng-invalid:focus {
  border-color: #ea3434;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f8bfbf;
}
.row.buttons-row{
    text-align: left;
    margin: 0px 15px 20px 0px;
}
.btn {
    min-width: 80px;
}
.dataTables_filter{
    float:left;
}
.tab-pane table.table {
    width:100% !important;
}

.rtl .form-horizontal .control-label {
    text-align: right !important;
}
.row-checkbox-wrap{
    padding: 0px 30px !important;
} 
.md-show {
    visibility: visible !important;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1051 !important;
}
.widget .legend{
    max-height: 125px;
    scroll-behavior: auto;
    overflow: auto;
    padding-left: 10px;
}

html.rtl.he-il body text{
    font-family: 'Alef' !important;
}

html.rtl .datetimepicker.dropdown-menu table {
    float: left;
}
.rtl .datetimepicker.dropdown-menu {
    text-align: center;
    float: right;
    right: auto;
}
.datetimepicker.dropdown-menu table tbody tr td.day {
    cursor: pointer;
}

html.rtl .datepicker.dropdown-menu table {
    float: left;
}
.rtl .datepicker.dropdown-menu {
    text-align: center;
    float: right;
    right: auto;
}
.datepicker.dropdown-menu table tbody tr td.day {
    cursor: pointer;
}
label.error{
    color: #ef6262;
}
.datatable-header{

}
.datatable-header-cell{
    padding-top: 15px;
    padding-bottom: 10px;
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}
.ngx-center-column{
    margin-top: 20px;
}
.ngx-display-select{
    float: right;
    max-width: 70px;
    margin-right: 10px;
    margin-left: 10px;
}
.ngx-display-span{
    float: right;
    margin-top: 5px;
}
.ngx-display-box{
    width: 180px;
}
.ngx-datatable.material .datatable-footer .page-count {
    background: #f7f7f7;
}
.main-content{
    padding-bottom: 50px;
}
.modal-container-alert .main_content_wrap{
    font-size: 17px;
}
.rtl .modal-container-alert .main_content_wrap {
    text-align: right;
}
.ngx-center-column .form-control{
    margin-top: -10px;
}

/* Tooltip */
.test + .tooltip > .tooltip-inner {
    background-color: rgb(250, 250, 250); 
    color: rgb(114, 114, 114); 
    border: 1px solid rgb(80, 80, 80);
    padding: 5px;
    font-size: 15px;
}

/* Tooltip on top */
.test + .tooltip.top > .tooltip-arrow {
    border-top: 5px solid rgb(80, 80, 80);
}

/* Tooltip on bottom */
.test + .tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid rgb(107, 107, 107);
}

/* Tooltip on left */
.test + .tooltip.left > .tooltip-arrow {
    border-left: 5px solid rgb(78, 78, 78);
}

/* Tooltip on right */
.test + .tooltip.right > .tooltip-arrow {
    border-right: 5px solid black;
}
.dataTables_filter .btn-group .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #3d3c3c;
    white-space: nowrap;
    padding: 7px 12px;
    font-size: 13px;
    background: white;
    border-radius: 0;
}
.dataTables_filter .btn-group .btn-primary {
    border-color: #ec4b4b;
    color: #fff;
    background-color: #ef6262;
    border-color: #3d3c3c;
}
.dataTables_filter {
    float: left;
    margin-left: 10px;
}
.datatable-checkbox input[type='checkbox']:before {
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    left: 2px !important;
    top: 0px !important;
    z-index: 1;
    width: 19px !important;
    height: 10px !important;
    border: 2px solid rgba(242, 242, 242, 0);
    border-color: rgba(242, 242, 242, 0) !important;
}
.datatable-checkbox input[type='checkbox']:after {
    content: "";
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    width: 18px !important;
    height: 18px !important;
    background: #fff;
    border: 1px solid #b3b3b3 !important;
    cursor: pointer;
}
.datatable-checkbox input[type='checkbox']:checked:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .5rem;
    border-color: #009688 !important;
    border-top-width: 0px;
    border-right-style: none;
}
datatable-header-cell .datatable-checkbox {
    padding: 0px 0;
    vertical-align: middle;
}
datatable-body-cell  .datatable-checkbox {
    padding: 20px 0px 0px 0px;
    vertical-align: middle;
}
.rtl input{
    direction: rtl;
}

.upload-image-box {
    text-align: center;
    padding: 10px;
    background: whitesmoke;
    border: 1px dashed gray;
    cursor: pointer;
}
.upload-image-box.success{
    background: #bfe8bf;
    color: green;
    border: 1px dashed #0b860b;
}
.upload-image-box.pending{
    background: #f5f1e6;
    color: rgba(0, 0, 0, 0.63);
    border: 1px dashed rgba(0, 0, 0, 0.42);
}
.upload-image-box.error{
    background: #ff8579;
    color: rgba(0, 0, 0, 0.63);
    border: 1px dashed rgba(0, 0, 0, 0.42);
}
.upload-image-box .icon {
    width: 100%;
    display: block;
    font-size: 45px;
}
[data-modal-upload-icon]{
    display: block;
    margin: auto;
}
@media (max-width: 760px) { 
    .modal-body.form .form-row .col-md-6{
    margin-bottom: 15px;
    }
}