/*------------------------------------------------------------------
  [Colors]
*/
.clr-primary{				background-color: $primary-color; }
.clr-success{				background-color: $success-color; }
.clr-info{					background-color: $info-color; }
.clr-warning{				background-color: $warning-color; }
.clr-danger{				background-color: $danger-color; }
.clr-alt1{          background-color: $alt-color1; }
.clr-alt2{          background-color: $alt-color2; }
.clr-alt3{          background-color: $alt-color3; }
.clr-alt4{          background-color: $alt-color4; }

.clr-btn-default{           background-color: $light-color; }
.clr-btn-default-hover{     background-color: darken($light-color, 3%); }
.clr-btn-default-active{    background-color: darken($light-color, 7%); }

.clr-btn-primary{           background-color: $btn-primary-bg; }
.clr-btn-primary-hover{     background-color: lighten($btn-primary-bg, 5%); }
.clr-btn-primary-active{    background-color: darken($btn-primary-bg, 5%); }

.clr-btn-dark{           background-color: $btn-dark-bg; }
.clr-btn-dark-hover{     background-color: lighten($btn-dark-bg, 5%); }
.clr-btn-dark-active{    background-color: darken($btn-dark-bg, 5%); }

.clr-btn-info{           background-color: $btn-info-bg; }
.clr-btn-info-hover{     background-color: lighten($btn-info-bg, 5%); }
.clr-btn-info-active{    background-color: darken($btn-info-bg, 5%); }

.clr-btn-warning{           background-color: $btn-warning-bg; }
.clr-btn-warning-hover{     background-color: lighten($btn-warning-bg, 5%); }
.clr-btn-warning-active{    background-color: darken($btn-warning-bg, 5%); }

.clr-btn-danger{           background-color: $btn-danger-bg; }
.clr-btn-danger-hover{     background-color: lighten($btn-danger-bg, 5%); }
.clr-btn-danger-active{    background-color: darken($btn-danger-bg, 5%); }

.clr-btn-success{           background-color: $btn-success-bg; }
.clr-btn-success-hover{     background-color: lighten($btn-success-bg, 5%); }
.clr-btn-success-active{    background-color: darken($btn-success-bg, 5%); }

.clr-btn-alt1{           background-color: $btn-alt1-bg; }
.clr-btn-alt1-hover{     background-color: lighten($btn-alt1-bg, 5%); }
.clr-btn-alt1-active{    background-color: darken($btn-alt1-bg, 5%); }

.clr-btn-alt2{           background-color: $btn-alt2-bg; }
.clr-btn-alt2-hover{     background-color: lighten($btn-alt2-bg, 5%); }
.clr-btn-alt2-active{    background-color: darken($btn-alt2-bg, 5%); }

.clr-btn-alt3{           background-color: $btn-alt3-bg; }
.clr-btn-alt3-hover{     background-color: lighten($btn-alt3-bg, 5%); }
.clr-btn-alt3-active{    background-color: darken($btn-alt3-bg, 5%); }

.clr-btn-alt4{           background-color: $btn-alt4-bg; }
.clr-btn-alt4-hover{     background-color: lighten($btn-alt4-bg, 5%); }
.clr-btn-alt4-active{    background-color: darken($btn-alt4-bg, 5%); }