/*------------------------------------------------------------------
  [Dividers inside panels]
*/
.panel-divider{
	border-bottom: $divider-border;
	padding-top: $divider-margin;
	margin-bottom: $divider-margin;

	&-lg{
		padding-top: $divider-lg-margin;
		margin-bottom: $divider-lg-margin;
	}

	&-xl{
		padding-top: $divider-xl-margin;
		margin-bottom: $divider-xl-margin;
	}
}