/*------------------------------------------------------------------
  [Icons]
*/
.icon-container{
	background-color: $light-color;
	padding: 20px;
	text-align: center;
	margin-bottom: 30px;

	.icon{
		background-color: darken($light-color, 4%);
		border-radius: 50%;
		display: inline-block;
		height: 95px;
		width: 95px;
		margin-bottom: 15px;
		padding: 20px;
		text-align: center;

		span{
			font-size: 55px;
			color: lighten($dark-color, 15%);
		}

	}

	.class{
		display: block;
		font-size: 14px;
		font-weight: 300;
	}
}