/*------------------------------------------------------------------
  [Badges]
*/
.badge{
	font-size: 11px;
}

.badge-primary{ background-color: $primary-color; }
.badge-success{ background-color: $success-color; }
.badge-info{ background-color: $info-color; }
.badge-warning{ background-color: $warning-color; }
.badge-danger{ background-color: $danger-color; }