//
// Grid system
// --------------------------------------------------


// RTL grid system

// Extra small grid
@mixin make-grid-rtl(xs),

// Small grid
@media (min-width: $screen-sm-min) {
  @mixin make-grid-rtl(sm),
}

// Medium grid
@media (min-width: $screen-md-min) {
  @mixin make-grid-rtl(md),
}

// Large grid
@media (min-width: $screen-lg-min) {
  @include make-grid-rtl(lg);
}