<div class="widget stacked">

    <div class="widget-header">
        <i class="icon-signal"></i>
        <h3>Chart</h3>
    </div> <!-- /widget-header -->

    <div class="widget-content">					
        <div id="area-chart" class="chart-holder"></div>					
    </div> <!-- /widget-content -->

</div>