<div class="widget stacked">

    <div class="widget-header">
        <i class="icon-star"></i>
        <h3>Quick Stats</h3>
    </div> <!-- /widget-header -->

    <div class="widget-content">

        <div class="stats">

            <div class="stat">
                <span class="stat-value">12,386</span>									
                Site Visits
            </div> <!-- /stat -->

            <div class="stat">
                <span class="stat-value">9,249</span>									
                Unique Visits
            </div> <!-- /stat -->

            <div class="stat">
                <span class="stat-value">70%</span>									
                New Visits
            </div> <!-- /stat -->

        </div> <!-- /stats -->


        <div id="chart-stats" class="stats">

            <div class="stat stat-chart">							
                <div id="donut-chart" class="chart-holder"></div> <!-- #donut -->							
            </div> <!-- /substat -->

            <div class="stat stat-time">									
                <span class="stat-value">00:28:13</span>
                Average Time on Site
            </div> <!-- /substat -->

        </div> <!-- /substats -->

    </div> <!-- /widget-content -->

</div>