<div class="widget stacked widget-table action-table">

    <div class="widget-header">
        <i class="icon-th-list"></i>
        <h3>Table</h3>
    </div> <!-- /widget-header -->

    <div class="widget-content">

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Engine</th>
                    <th>Browser</th>
                    <th class="td-actions"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Trident</td>
                    <td>Internet
                        Explorer 4.0</td>
                    <td class="td-actions">
                        <a href="javascript:;" class="btn btn-xs btn-primary">
                            <i class="btn-icon-only icon-ok"></i>										
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Trident</td>
                    <td>Internet
                        Explorer 5.0</td>
                    <td class="td-actions">
                        <a href="javascript:;" class="btn btn-xs btn-primary">
                            <i class="btn-icon-only icon-ok"></i>										
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Trident</td>
                    <td>Internet
                        Explorer 5.5</td>
                    <td class="td-actions">
                        <a href="javascript:;" class="btn btn-xs btn-primary">
                            <i class="btn-icon-only icon-ok"></i>										
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Trident</td>
                    <td>Internet
                        Explorer 5.5</td>
                    <td class="td-actions">
                        <a href="javascript:;" class="btn btn-xs btn-primary">
                            <i class="btn-icon-only icon-ok"></i>										
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Trident</td>
                    <td>Internet
                        Explorer 5.5</td>
                    <td class="td-actions">
                        <a href="javascript:;" class="btn btn-xs btn-primary">
                            <i class="btn-icon-only icon-ok"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Trident</td>
                    <td>Internet
                        Explorer 5.5</td>
                    <td class="td-actions">
                        <a href="javascript:;" class="btn btn-xs btn-primary">
                            <i class="btn-icon-only icon-ok"></i>										
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div> <!-- /widget-content -->

</div>