<div class="widget stacked"  ng-app="usersApp">

    <div class="widget-header">
        <i class="icon-user"></i>
        <h3>Users List</h3>
    </div> <!-- /widget-header -->

    <div class="widget-content" ng-controller="UsersController">
        <form id="form" name="form">
            <input ng-attr-title="{{username_error}}" type="text" ng-model='user.username' name="username" maxlength="255" placeholder="username" size="20" />
            <input ng-attr-title="{{full_name_error}}" type="text"  ng-model='user.full_name' name="full_name" maxlength="255" placeholder="full name" size="20" />
            <input ng-attr-title="{{email_error}}" type="email" ng-model='user.email' name="email" maxlength="255" placeholder="email" size="20" />
            <input  ng-click="update(user)" type="submit" value="Add" class="btn btn-primary" />
        </form>

        <div class="error-list-warp">
            <ul class="error-list">
                <li  ng-if="username_error">
                    {{username_error}}
                </li>
                <li ng-if="full_name_error">
                    {{full_name_error}}
                </li>
                <li ng-if="email_error">
                    {{email_error}}
                </li>
            </ul>
        </div>
        <hr />

        <div class="filters-row ">
            <form name="filtersForm" class="filtersForm">
                <label>
                    <input type="checkbox" ng-model="filters.get_a">
                    <span>
                        Filter by username start with 'a':
                    </span>
                </label>
                <label>
                    <input type="checkbox" ng-model="filters.get_gmail">
                    <span>
                        Filter by Gmail users:
                    </span>
                </label>
                <label>
                    <button class="btn-info" ng-click='filters.get_gmail = false; filters.get_a = false;' >
                        Clear all
                    </button>
                </label>
            </form>
        </div>

        <table id="users_table" class="table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Full name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users| filter:customUsersFilter ">
                    <td>{{user.username}}</td>
                    <td>{{user.full_name}}</td>
                    <td>{{user.email}}</td>
                </tr>
            </tbody>
        </table>

    </div> <!-- /widget-content -->

</div> 