<!-- Wrapper-->
<div class="am-wrapper">


  <!-- Main page wrapper -->
  <div id="page-wrapper" class="gray-bg">



    <div class="am-content">
      <div class="page-head">
        <h2>{{header}}</h2>
        <ol class="breadcrumb">
          <li *ngFor="let breadcrumb of breadcrumbs ; first as isFirst">
            <a [routerLink]="breadcrumb.link">
            {{breadcrumb.title}}
          </a>
          </li>
          <li class="active">{{header}}</li>
        </ol>
      </div>
      <div class="main-content">
        <!-- Main view/routes wrapper-->
        <router-outlet></router-outlet>
      </div>
    </div>

    <!-- Footer -->
    <footer></footer>

  </div>
  <!-- End page wrapper-->

</div>
<!-- End wrapper-->