<div class="widget widget-area-chart">
  <div class="widget-head">
    <span class="title">{{title | translate}}</span>
  </div>
  <div class="row chart-container">
    <div *ngIf="chartData && isInit"  id="{{id}}" style="height: 250px;"></div>
    <div class="data-info" *ngIf="!isInit">
      <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
    </div>
    <div *ngIf="!chartData && isInit" class="no-data-message">
      {{'No data' | translate}}
    </div>
  </div>
</div>