<div class="am-wrapper">
   
      
        <div class="am-content">
          <div class="main-content">
            <h3 class="text-center">Content goes here!</h3>
          </div>
        </div>
      </div>