<div class="am-content">
  <div class="page-head">
    <h2>{{header}}</h2>
    <ol class="breadcrumb">
      <li  *ngFor="let breadcrumb of breadcrumbs ; first as isFirst" >
          <a [routerLink]="breadcrumb.link">
          {{breadcrumb.title}}
        </a>
      </li> 
      <li class="active">{{header}}</li>
    </ol>
  </div>
  <div class="main-content">
    <h3 class="text-center">Content goes here!</h3>
  </div>
</div>