/*------------------------------------------------------------------
  [Forgot password]
*/
.forgot-password{
	max-width: 415px;

	.panel-heading{
		margin-bottom: 0 !important;
	}

	.panel-body{

		.form-horizontal{

			p{
				color: lighten($dark-color, 35%);
				font-size: 14px;
				margin-bottom: 25px;

				a{
					color: darken($light-color, 15%);

					&:hover{
						color: $light-color;
					}
				}

				&.contact{
					margin-bottom: 30px;
				}
			}

			.form-group{
				margin-bottom: 30px;
			}
		}
	}

	.out-links{
		margin-top: 40px;
	}

	@media ($phone){
		margin-bottom: 50px;
		margin-top: 30px;
	}
}