/*------------------------------------------------------------------
  [Profile page]
*/
.user-profile{

	.user-display{
		margin-bottom: 30px;

		.photo{
			max-height: 300px;
			overflow: hidden;

			img{
				width: 100%;

				@media ($phone){
					min-height: 130px;
				}
			}
		}

		.bottom{
			background-color: $light-color;
			position: relative;
			padding: 25px 30px 25px 205px;

			//RTL Support
			.rtl & {
				padding: 25px 205px 25px 30px;
			}

			> div{
				display: inline-block;
			}

			.user-avatar{
				position: absolute;
				left: 46px;
				top: -50px;

				//RTL Support
				.rtl & {
					left: auto;
					right: 46px;
				}

				.status{
					background-color: $status-online;
					border: 2px solid $light-color;
					border-radius: 50%;
					height: 18px;
					width: 18px;
					left: 105px;
					position: absolute;
					top: 105px;

					@media ($phone){
						height: 13px;
						width: 13px;
						left: 53px;
						top: 51px;
					}
				}

				img{
					width: 135px;
					height: 135px;
					border-radius: 50%;
					border: 3px solid $light-color;

					@media ($phone){
						width: 70px;
						height: 70px;
					}
				}

				@media ($phone){
					left: 50%;
					top: -46px;
					margin-left: -35px;
				}
			}

			.user-info{
				line-height: 20px;

				h4{
					margin: 0;
					font-size: 25px;
					margin-bottom: 5px;
				}

				span{
					font-size: 14px;
					font-weight: 300;
					color: lighten($text-color, 15%);
				}

				@media ($phone){
					line-height: 22px;
				}
			}

			@media ($phone){
				padding: 30px 30px 25px 25px;
			}
		}
	}

	.info-block{

		.description{
			padding-bottom: 15px;
			border-bottom: 1px dashed darken($light-color, 10%);
			display: block;
			color: lighten($text-color, 15%);;
		}

		table{
			width: 100%;

			tr{
				line-height: 23px;
				border-bottom: 1px solid darken($light-color, 10%);

				td{
					padding: 15px 0;
				}

				td.item{
					width: 45%;
					color: lighten($text-color, 15%);

					.icon{
						float: left;
						margin-right: 5px;
						font-size: 20px;
						color: $primary-color;
						
						//RTL Support
						.rtl & {
							float: right;
							margin-left: 5px;
							margin-right: 0;
						}
					}
				}

				&:last-child{
					border-bottom: 0;

					td{
						padding-bottom: 0;
					}
				}
			}
		}		
	}
}