/*------------------------------------------------------------------
	[Main wrapper]
*/
.am-wrapper{
	min-height: 100%;
	padding-top: $top-header-height;

	@media ($phone){
		padding-top: 0;
		overflow-x: hidden;
	}
}