/*------------------------------------------------------------------
  [Page head]
*/
/*Page Title*/
.page-head {
		background: none repeat scroll 0 0 $light-color;
		padding: 20px $content-padding;
		position: relative;

		h2{
				margin-bottom: 5px;
				margin-top: 6px;
				font-family: $open-sans;
				font-weight: 300;
				letter-spacing:-1px;
				font-size: 28px;
				line-height: 36px; 
		}

		.breadcrumb{
				background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
				margin-bottom: 0;
				padding: 4px;
				font-size: 12px;
		}

		//White header style
		.am-white-header & {
			background-color: darken($light-color, 2.8%);
		}

		//When using an aside
		.am-aside & {
			margin-left: $page-aside-width;

			.rtl & {
				margin-left: 0;
				margin-right: $page-aside-width;

				@media ($phone){
					margin-right: 0;
				}
			}

			@media ($phone){
				margin-left: 0;
				border-bottom: 1px solid darken($light-color, 10%);
			}
		}

		@media ($tablet){
			padding: 20px $content-padding-tablet;
		}

		@media ($phone){
				padding: 18px $content-padding-phone 20px;

				h2{
						font-size: 24px;
						line-height: 28px;
				}
		}
}