//Sidebars push effect with HA enabled
@mixin sidebar-push-effect($ha_animation) {
  //This is making conflict with bootstrap modals due the position fixed inside main content
  //transform: translate3d(0, 0, 0);
}

//Left sidebar animation
	//Without HA
	@mixin left-sidebar-animation($ha_animation)  {

		.am-content{
			left: $left-sidebar-width-phone;
		}

		.am-top-header{
		  right: -$left-sidebar-width-phone;
	   	left: $left-sidebar-width-phone;	
		}
	}

	//With HA
	@mixin left-sidebar-animation($ha_animation) {
		
		.am-wrapper{
			overflow: hidden;
		}

		.am-content, .am-top-header{
	    transform: translate3d($left-sidebar-width-phone, 0, 0);

	    //RTL Support
	    .rtl & {
	    	transform: translate3d(-$left-sidebar-width-phone, 0, 0);
	    }
		}

		.am-left-sidebar{
	    transform: translate3d(0%, 0, 0);
		}
	}

//Right sidebar animation
	//Without HA
	@mixin right-sidebar-animation-false($ha_animation)  {

		.am-content{
			left: -$right-sidebar-width;

			//RTL Support
			.rtl & {
				left: auto;
				right: -$right-sidebar-width;
			}
		}

		.page-aside{
			left: $left-sidebar-width - $right-sidebar-width;
		}

		.am-top-header{
		  right: $right-sidebar-width;
	   	left: -$right-sidebar-width;	

	   	//RTL Support
			.rtl & {
			  right: -$right-sidebar-width;
		   	left: $right-sidebar-width;	
			}
		}

		.am-left-sidebar{
			left: -$right-sidebar-width;

			&:before{
				left: -$right-sidebar-width;
			}

			//RTL Support
			.rtl & {
				left: auto;
				right: -$right-sidebar-width;

				&:before {
					left: auto;
					right: -$right-sidebar-width;
				}
			}
		}

		.am-right-sidebar{
			right: 0;

			//RTL Support
			.rtl & {
				right: auto;
				left: 0;
			}
		}
	}

	//With HA
	@mixin right-sidebar-animation($ha_animation)  {

		.am-content, .am-top-header, .page-aside{
	    transform: translate3d(-$right-sidebar-width, 0, 0);

	    @media ($phone){
	    	transform: translate3d(-$right-sidebar-width-phone, 0, 0);

	    	//RTL Support
	    	.rtl & {
	    		transform: translate3d($right-sidebar-width-phone, 0, 0);
	    	}
	    }
		}

		@media ($phone){

			.am-wrapper{
				overflow: hidden;
			}

			.am-right-sidebar{
	    	transform: translate3d(0, 0, 0);
			}
		}
	}