//Purple Theme
@import "../../style.scss";

/*Paths*/
$img-path: 				"../../img"; 
$fonts-path: 			"../../lib"; 
$lib-path: 				"../../lib"; 
$icon-font-path:  "../../lib/bootstrap/dist/fonts/";

$primary-color: #6bc3b0;
$alt-color1: 		#FFE088;
$alt-color2: 		#bda5d7;
$alt-color3: 		#FF7FA0;
$alt-color4: 		#dfdfdf;

//Text contrast
$primary-color-text: 			darken($primary-color, 2%);

$success-color-text: 			$success-color;	
$info-color-text: 				$info-color;	
$warning-color-text: 			$warning-color;	
$danger-color-text: 			$danger-color;	

$alt-color1-text: 				adjust-hue(darken($alt-color1, 5%), -3);
$alt-color2-text: 				darken($alt-color2, 14%);
$alt-color3-text: 				darken($alt-color3, 1%);
$alt-color4-text: 				darken($alt-color4, 14%);
$dark-color-text: 				$dark-color;