//Purple Theme
@import "../../style.scss";

/*Paths*/
$img-path: 				"../../img"; 
$fonts-path: 			"../../lib"; 
$lib-path: 				"../../lib"; 
$icon-font-path:  "../../lib/bootstrap/dist/fonts/";

$primary-color: #f7c954;
$alt-color1: 		#88ca92;
$alt-color2: 		#7fcff5;
$alt-color3: 		#8B8CCC;
$alt-color4: 		#cccccc;

//Text contrast
$primary-color-text: 			adjust-hue($primary-color, -2);

$success-color-text: 			$success-color;	
$info-color-text: 				$info-color;	
$warning-color-text: 			$warning-color;	
$danger-color-text: 			$danger-color;	

$alt-color1-text: 				darken($alt-color1, 2%);
$alt-color2-text: 				darken($alt-color2, 14%);
$alt-color3-text: 				darken($alt-color3, 3%);
$alt-color4-text: 				darken($alt-color4, 7%);
$dark-color-text: 				$dark-color;