//Purple Theme
@import "../../style.scss";

/*Paths*/
$img-path: 				"../../img"; 
$fonts-path: 			"../../lib"; 
$lib-path: 				"../../lib"; 
$icon-font-path:  "../../lib/bootstrap/dist/fonts/";

$primary-color: 	#7F64B5;
$alt-color1: 			#65CEEC;
$alt-color2: 			#ffdc7a;
$alt-color3: 			#45D8C2;
$alt-color4: 			#e0e0e0;

//Text contrast
$primary-color-text: 			$primary-color;

$success-color-text: 			$success-color;	
$info-color-text: 				$info-color;	
$warning-color-text: 			$warning-color;	
$danger-color-text: 			$danger-color;	

$alt-color1-text: 				darken($alt-color1, 8%);
$alt-color2-text: 				adjust-hue(darken($alt-color2, 4%), -3);
$alt-color3-text: 				darken($alt-color3, 6%);
$alt-color4-text: 				darken($alt-color4, 14%);
$dark-color-text: 				$dark-color;