//Purple Theme
@import "../../style.scss";

/*Paths*/
$img-path: 				"../../img"; 
$fonts-path: 			"../../lib"; 
$lib-path: 				"../../lib"; 
$icon-font-path:  "../../lib/bootstrap/dist/fonts/";

$primary-color: 	#4e91ff;
$alt-color1: 			#f55244;
$alt-color2: 			#FBBF22;
$alt-color3: 			#49AD70;
$alt-color4: 			#DFDFDF;

//Text contrast
$primary-color-text: 			$primary-color;

$success-color-text: 			$success-color;	
$info-color-text: 				$info-color;	
$warning-color-text: 			$warning-color;	
$danger-color-text: 			$danger-color;	

$alt-color1-text: 				$alt-color1;
$alt-color2-text: 				adjust-hue(lighten($alt-color2, 7%), -2);
$alt-color3-text: 				$alt-color3;
$alt-color4-text: 				darken($alt-color4, 13%);
$dark-color-text: 				$dark-color;