<div class="am-splash-screen">
        <div class="am-wrapper am-login animated fadeInDown">
            <div class="am-content">
                <div class="main-content">
                    <div class="login-container">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 *ngIf="!info.getWideLogo()" class="logo-name">{{info.getName()}}</h1>
                                 <img class="logo-wide-image" *ngIf="info.getWideLogo()" src="{{info.getWideLogo()}}" />
                             </div>
                            <div class="panel-body">
                                <form>
                                    <div class="login-form">
                                        <div class="form-group">
                                                <div class="input-group"><span class="input-group-addon"><i class="icon s7-user"></i></span>
                                                    <input [(ngModel)]="email" name="email" type="email" class="form-control" required=""   placeholder="{{'Email' | translate }}"  />
                                                </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group"><span class="input-group-addon"><i class="icon s7-lock"></i></span>
                                                <input [(ngModel)]="password" name="password" type="password" class="form-control"    placeholder="{{'Password' | translate }}" required="">
                                            </div>
                                        </div>
                                        <div class="form-group login-submit">
                                            <button data-dismiss="modal" type="submit" (click)="login()"  class="btn btn-primary btn-lg">{{'Login' | translate }}</button>
                                        </div>
                                    </div>
                                </form>
    
    
    <!--
            <a href="#"><small>Forgot password?</small></a>
            <p class="text-muted text-center"><small>Do not have an account?</small></p>
            <a routerLink="/register" class="btn btn-sm btn-white btn-block">Create an account</a>
            <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
    -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>