<nav class="navbar navbar-default navbar-fixed-top am-top-header">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="page-title"><span>Blank Page</span></div><a href="#" class="am-toggle-left-sidebar navbar-toggle collapsed"><span class="icon-bar"><span></span><span></span><span></span></span></a><a href="index.html" class="navbar-brand"></a>
      </div><a href="#" class="am-toggle-right-sidebar"><span class="icon s7-menu2"></span></a><a href="#" data-toggle="collapse" data-target="#am-navbar-collapse" class="am-toggle-top-header-menu collapsed"><span class="icon s7-angle-down"></span></a>
      <div id="am-navbar-collapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right am-user-nav">
          <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"><img src="/dist/admin/amaretti/assets/img/avatar.jpg"><span class="user-name">Samantha Amaretti</span><span class="angle-down s7-angle-down"></span></a>
            <ul role="menu" class="dropdown-menu">
              <li><a href="#"> <span class="icon s7-user"></span>My profile</a></li>
              <li><a href="#"> <span class="icon s7-config"></span>Settings</a></li>
              <li><a href="#"> <span class="icon s7-help1"></span>Help</a></li>
              <li><a href="#"> <span class="icon s7-power"></span>Sign Out</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav am-nav-right">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">Services <span class="angle-down s7-angle-down"></span></a>
            <ul role="menu" class="dropdown-menu">
              <li><a href="#">UI Consulting</a></li>
              <li><a href="#">Web Development</a></li>
              <li><a href="#">Database Management</a></li>
              <li><a href="#">Seo Improvement</a></li>
            </ul>
          </li>
          <li><a href="#">Support</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right am-icons-nav">
          <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"><span class="icon s7-comment"></span></a>
            <ul class="dropdown-menu am-messages">
              <li>
                <div class="title">Messages<span class="badge">3</span></div>
                <div class="list">
                  <div class="am-scroller nano">
                    <div class="content nano-content">
                      <ul>
                        <li class="active"><a href="#">
                            <div class="logo"><img src="/dist/admin/amaretti/assets/img/avatar2.jpg"></div>
                            <div class="user-content"><span class="date">April 25</span><span class="name">Jessica Caruso</span><span class="text-content">Request you to be a part of the same so that we can work...</span></div></a></li>
                        <li><a href="#">
                            <div class="logo"><img src="/dist/admin/amaretti/assets/img/avatar3.jpg"></div>
                            <div class="user-content"><span class="date">March 18</span><span class="name">Joel King</span><span class="text-content"> We wish to extend the building.</span></div></a></li>
                        <li><a href="#">
                            <div class="logo"><img src="/dist/admin/amaretti/assets/img/avatar4.jpg"></div>
                            <div class="user-content"><span class="date">January 3</span><span class="name">Claire Sassu</span><span class="text-content"> We the ladies of a block are wiling to join together to set up a catering...</span></div></a></li>
                        <li><a href="#">
                            <div class="logo"><img src="/dist/admin/amaretti/assets/img/avatar5.jpg"></div>
                            <div class="user-content"><span class="date">January 2</span><span class="name">Emily Carter</span><span class="text-content"> Request you to be a part of the same so that we can work...</span></div></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="footer"> <a href="#">View all messages</a></div>
              </li>
            </ul>
          </li>
          <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"><span class="icon s7-bell"></span><span class="indicator"></span></a>
            <ul class="dropdown-menu am-notifications">
              <li>
                <div class="title">Notifications<span class="badge">3</span></div>
                <div class="list">
                  <div class="am-scroller nano">
                    <div class="content nano-content">
                      <ul>
                        <li class="active"><a href="#">
                            <div class="logo"><span class="icon s7-pin"></span></div>
                            <div class="user-content"><span class="circle"></span><span class="name">Jessica Caruso</span><span class="text-content"> accepted your invitation to join the team.</span><span class="date">2 min ago</span></div></a></li>
                        <li><a href="#">
                            <div class="logo"><span class="icon s7-add-user"></span></div>
                            <div class="user-content"><span class="name">Joel King</span><span class="text-content"> is now following you</span><span class="date">2 days ago</span></div></a></li>
                        <li><a href="#">
                            <div class="logo"><span class="icon s7-gleam"></span></div>
                            <div class="user-content"><span class="name">Claire Sassu</span><span class="text-content"> is watching your main repository</span><span class="date">2 days ago</span></div></a></li>
                        <li><a href="#">
                            <div class="logo"><span class="icon s7-add-user"></span></div>
                            <div class="user-content"><span class="name">Emily Carter</span><span class="text-content"> is now following you</span><span class="date">5 days ago</span></div></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="footer"> <a href="#">View all notifications</a></div>
              </li>
            </ul>
          </li>
          <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"><span class="icon s7-share"></span></a>
            <ul class="dropdown-menu am-connections">
              <li>
                <div class="title">Connections</div>
                <div class="list">
                  <div class="content">
                    <ul>
                      <li>
                        <div class="logo"><img src="/dist/admin/amaretti/assets/img/github.png"></div>
                        <div class="field"><span>GitHub</span>
                          <div class="pull-right">
                            <div class="switch-button switch-button-sm">
                              <input type="checkbox" checked="" name="check1" id="switch1"><span>
                                <label for="switch1"></label></span>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="logo"><img src="/dist/admin/amaretti/assets/img/bitbucket.png"></div>
                        <div class="field"><span>Bitbucket</span>
                          <div class="pull-right">
                            <div class="switch-button switch-button-sm">
                              <input type="checkbox" name="check2" id="switch2"><span>
                                <label for="switch2"></label></span>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="logo"><img src="/dist/admin/amaretti/assets/img/slack.png"></div>
                        <div class="field"><span>Slack</span>
                          <div class="pull-right">
                            <div class="switch-button switch-button-sm">
                              <input type="checkbox" checked="" name="check3" id="switch3"><span>
                                <label for="switch3"></label></span>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="logo"><img src="/dist/admin/amaretti/assets/img/dribbble.png"></div>
                        <div class="field"><span>Dribbble</span>
                          <div class="pull-right">
                            <div class="switch-button switch-button-sm">
                              <input type="checkbox" name="check4" id="switch4"><span>
                                <label for="switch4"> </label></span>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="footer"> <a href="#">View all connections</a></div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <nav class="am-right-sidebar">
      <div class="sb-content">
        <div class="user-info"><img src="/dist/admin/amaretti/assets/img/avatar.jpg"><span class="name">Samantha Amaretti<span class="status"></span></span><span class="position">Art Director</span></div>
        <div class="tab-navigation">
          <ul role="tablist" class="nav nav-tabs nav-justified">
            <li role="presentation" class="active"><a href="#tab1" aria-controls="home" role="tab" data-toggle="tab"> <span class="icon s7-smile"></span></a></li>
            <li role="presentation"><a href="#tab2" aria-controls="profile" role="tab" data-toggle="tab"> <span class="icon s7-chat"></span></a></li>
            <li role="presentation"><a href="#tab3" aria-controls="messages" role="tab" data-toggle="tab"> <span class="icon s7-help2"></span></a></li>
            <li role="presentation"><a href="#tab4" aria-controls="settings" role="tab" data-toggle="tab"> <span class="icon s7-ticket"></span></a></li>
          </ul>
        </div>
        <div class="tab-panel">
          <div class="tab-content">
            <div id="tab1" role="tabpanel" class="tab-pane announcement active am-scroller nano">
              <div class="nano-content">
                <div class="content">
                  <h2>Announcement</h2>
                  <ul>
                    <li>
                      <div class="icon"><span class="icon s7-sun"></span></div>
                      <div class="content"><a href="#">Happy Day</a><span>Suspendisse nec leo tortor rhoncus tincidunt. Duis sit amet rutrum elit.</span></div>
                    </li>
                    <li>
                      <div class="icon"><span class="icon s7-gift"></span></div>
                      <div class="content"><a href="#">Congratulations Developers</a><span>Suspendisse nec leo tortor rhoncus tincidunt. Duis sit amet rutrum elit.</span></div>
                    </li>
                    <li>
                      <div class="icon"><span class="icon s7-star"></span></div>
                      <div class="content"><a href="#">High Score</a><span>Suspendisse nec leo tortor rhoncus tincidunt. Duis sit amet rutrum elit.</span></div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="search">
                <input type="text" placeholder="Search..." name="q"><span class="s7-search"></span>
              </div>
            </div>
            <div id="tab2" role="tabpanel" class="tab-pane chat">
              <div class="chat-contacts">
                <div class="chat-sections">
                  <div class="am-scroller nano">
                    <div class="content nano-content">
                      <h2>Recent</h2>
                      <div class="recent">
                        <div class="user"><a href="#"><img src="/dist/admin/amaretti/assets/img/avatar4.jpg">
                            <div class="user-data"><span class="status away"></span><span class="name">Claire Sassu</span><span class="message">Can you share the...</span></div></a></div>
                        <div class="user"><a href="#"><img src="/dist/admin/amaretti/assets/img/avatar7.jpg">
                            <div class="user-data"><span class="status"></span><span class="name">Maggie jackson</span><span class="message">I confirmed the info.</span></div></a></div>
                        <div class="user"><a href="#"><img src="/dist/admin/amaretti/assets/img/avatar3.jpg">
                            <div class="user-data"><span class="status offline"></span><span class="name">Joel King		</span><span class="message">Ready for the meeti...</span></div></a></div>
                      </div>
                      <h2>Contacts</h2>
                      <div class="contact">
                        <div class="user"><a href="#"><img src="/dist/admin/amaretti/assets/img/avatar6.jpg">
                            <div class="user-data2"><span class="status"></span><span class="name">Mike Bolthort</span></div></a></div>
                        <div class="user"><a href="#"><img src="/dist/admin/amaretti/assets/img/avatar7.jpg">
                            <div class="user-data2"><span class="status"></span><span class="name">Maggie jackson</span></div></a></div>
                        <div class="user"><a href="#"><img src="/dist/admin/amaretti/assets/img/avatar8.jpg">
                            <div class="user-data2"><span class="status offline"></span><span class="name">Jhon Voltemar</span></div></a></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="search">
                  <input type="text" placeholder="Search..." name="q"><span class="s7-search"></span>
                </div>
              </div>
              <div class="chat-window">
                <div class="title">
                  <div class="user"><img src="/dist/admin/amaretti/assets/img/avatar7.jpg">
                    <h2>Maggie jackson</h2><span>Active 1h ago</span>
                  </div><span class="icon return s7-angle-left"></span>
                </div>
                <div class="chat-messages">
                  <div class="am-scroller nano">
                    <div class="content nano-content">
                      <ul>
                        <li class="friend">
                          <div class="msg">Hello</div>
                        </li>
                        <li class="self">
                          <div class="msg">Hi, how are you?</div>
                        </li>
                        <li class="friend">
                          <div class="msg">Good, I'll need support with my pc</div>
                        </li>
                        <li class="self">
                          <div class="msg">Sure, just tell me what is going on with your computer?</div>
                        </li>
                        <li class="friend">
                          <div class="msg">I don't know it just turns off suddenly</div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="chat-input">
                  <div class="input-wrapper"><span class="photo s7-camera"></span>
                    <input type="text" placeholder="Message..." name="q" autocomplete="off"><span class="send-msg s7-paper-plane"></span>
                  </div>
                </div>
              </div>
            </div>
            <div id="tab3" role="tabpanel" class="tab-pane faqs am-scroller nano">
              <div class="nano-content">
                <div class="content">
                  <h2>FAQs</h2>
                  <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group accordion">
                    <div class="panel">
                      <div role="tab" class="panel-heading">
                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#faq1" aria-expanded="true" aria-controls="collapseOne">
                            <div class="icon"><span class="s7-angle-down"></span></div><span class="title">Under Error 352</span></a></h4>
                      </div>
                      <div id="faq1" role="tabpanel" aria-labelledby="headingOne" class="panel-collapse collapse in">
                        <div class="panel-body">Suspendisse nec leo tortor rhoncus tincidunt. Duis sit amet rutrum elit.</div>
                      </div>
                    </div>
                    <div class="panel">
                      <div role="tab" class="panel-heading">
                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#faq2" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">
                            <div class="icon"><span class="s7-angle-down"></span></div><span class="title">Failure platform</span></a></h4>
                      </div>
                      <div id="faq2" role="tabpanel" aria-labelledby="headingTwo" class="panel-collapse collapse">
                        <div class="panel-body">Suspendisse nec leo tortor rhoncus tincidunt. Duis sit amet rutrum elit.</div>
                      </div>
                    </div>
                    <div class="panel">
                      <div role="tab" class="panel-heading">
                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#faq3" aria-expanded="false" aria-controls="collapseThree" class="collapsed">
                            <div class="icon"><span class="s7-angle-down"></span></div><span class="title">Error 404</span></a></h4>
                      </div>
                      <div id="faq3" role="tabpanel" aria-labelledby="headingThree" class="panel-collapse collapse">
                        <div class="panel-body">Suspendisse nec leo tortor rhoncus tincidunt. Duis sit amet rutrum elit.</div>
                      </div>
                    </div>
                    <div class="panel">
                      <div role="tab" class="panel-heading">
                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#faq4" aria-expanded="false" aria-controls="collapseThree" class="collapsed">
                            <div class="icon"><span class="s7-angle-down"></span></div><span class="title">New workstation</span></a></h4>
                      </div>
                      <div id="faq4" role="tabpanel" aria-labelledby="headingThree" class="panel-collapse collapse">
                        <div class="panel-body">Suspendisse nec leo tortor rhoncus tincidunt. Duis sit amet rutrum elit.</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="search">
                <input type="text" placeholder="Search..." name="q"><span class="s7-search"></span>
              </div>
            </div>
            <div id="tab4" role="tabpanel" class="tab-pane ticket am-scroller nano">
              <div class="nano-content">
                <div class="content">
                  <h2>New Ticket</h2>
                  <form>
                    <div class="form-group send-ticket">
                      <input type="text" placeholder="Title" class="form-control">
                    </div>
                    <div class="form-group send-ticket">
                      <textarea rows="3" placeholder="Write Here..." class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg">Create Ticket</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>