<div class="loading-page-message" >
    <span class="loading-page-message-icon"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span>
    <span class="loading-page-message-text">{{text | translate}}</span>
</div>