//Color shades
$primary-color-dark: 			darken($primary-color, 10%);
$primary-color-darkest: 	darken($primary-color, 20%);
$primary-color-light: 		lighten($primary-color, 10%);
$primary-color-lightest: 	lighten($primary-color, 20%);

$alt-color1-dark: 				darken($alt-color1, 10%);
$alt-color1-darkest: 			darken($alt-color1, 20%);
$alt-color1-light: 				lighten($alt-color1, 10%);
$alt-color1-lightest: 		lighten($alt-color1, 20%);

$alt-color2-dark: 				darken($alt-color2, 10%);
$alt-color2-darkest: 			darken($alt-color2, 20%);
$alt-color2-light: 				lighten($alt-color2, 10%);
$alt-color2-lightest: 		lighten($alt-color2, 20%);

$alt-color3-dark: 				darken($alt-color3, 10%);
$alt-color3-darkest: 			darken($alt-color3, 20%);
$alt-color3-light: 				lighten($alt-color3, 10%);
$alt-color3-lightest: 		lighten($alt-color3, 20%);

$alt-color4-dark: 				darken($alt-color4, 10%);
$alt-color4-darkest: 			darken($alt-color4, 20%);
$alt-color4-light: 				lighten($alt-color4, 10%);
$alt-color4-lightest: 		lighten($alt-color4, 20%);

//Text contrast
$primary-color-text: 			$primary-color;

$success-color-text: 			$success-color;	
$info-color-text: 				$info-color;	
$warning-color-text: 			$warning-color;	
$danger-color-text: 			$danger-color;	

$alt-color1-text: 				darken($alt-color1, 14%);
$alt-color2-text: 				adjust-hue(darken($alt-color2, 4%), -3);
$alt-color3-text: 				$alt-color3;
$alt-color4-text: 				darken($alt-color4, 6%);
$dark-color-text: 				$dark-color;