<div class="widget widget-pie">
  <div class="widget-head"><span class="title">{{title | translate}}</span></div>
  <div class="row chart-container">
    <div class="col-md-6">
      <div id={{id}} class="chart"></div>
    </div>
    <div class="col-md-6">
      <div class="legend">
        <table>
          <tbody>
            <tr *ngFor="let info of legendData ; first as isFirst">
              <td class="legendColorBox">
                <div>
                  <div style="width:10px;height:10px;overflow:hidden;" [style.background-color]="info.color"></div>
                </div>
              </td>
              <td class="legendLabel">{{info.title | translate}}</td>
              <td class="legendData" *ngIf="isShowLegendValues" >
                  {{getFormatValue(info)}}
                </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row chart-info">
    <div *ngFor="let info of moreInfo " class="col-xs-4">
      <span class="title">
              {{info.title | translate}}
            </span>
      <span data-toggle="counter" data-end="180" class="number">
                    {{info.value}}
            </span>
    </div>
  </div>
</div>