
<table id="{{getUniqueId()}}" class="table table-striped table-hover table-fw-widget">
  <thead>
       <tr>
           <th *ngFor="let column of columns ; first as isFirst" >
           {{column.title | translate}}
           </th>
       </tr>
   </thead>
   <tfoot>
       <tr>
       <th *ngFor="let column of columns ; first as isFirst" >
       {{column.title | translate}}
       </th>
       </tr>
   </tfoot>
   <tbody>
   </tbody>
 </table>