/*------------------------------------------------------------------
  [DropZone]
*/
form.dropzone{
	border: 2px dashed darken($body-background, 16.8%);
	padding: 70px 60px 80px;
	background: transparent;

	.icon{
		background-color: darken($light-color, 10%);
		border-radius: 50%;
		display: inline-block;
		height: 100px;
		width: 100px;
		margin-bottom: 15px;
		padding: 20px;
		text-align: center;

		span{
			font-size: 60px;
			color: lighten($dark-color, 15%);
		}
	}

	h2{
		margin-bottom: 30px;
		font-size: 40px;
		font-weight: 600;
	}

	.note{
		font-size: 16px;
	}

	.dz-preview {	
		
		&.dz-file-preview, &.dz-image-preview {

			.dz-image {
				border: 3px solid $primary-color;
				border-radius: 3px;
				background: darken($light-color, 7%);
			}

			&.dz-error .dz-image {
				border-color: $danger-color;
			}
			&.dz-success .dz-image {
				border-color: $primary-color;
			}
		}

		.dz-details {
				
			.dz-filename span, .dz-size span {
				background: transparent;
			}
		}

		.dz-error-message {
			word-break: break-word;
		}
	}
}