/*------------------------------------------------------------------
  [nanoScroller]
*/

.nano {

  > .nano-pane {
      width: $scroller-width;
      border-radius: 3px;
      background-color: rgba(0,0,0, 0.1);

    > .nano-slider {
       background-color: rgba(0,0,0, 0.25);
       width: 100%;
       border-radius: 3px;
       margin: 0;
    }
  }

  > .nano-content > ul {
    padding: 0;
  }

  //RTL Support
  .rtl & {
    
    > .nano-content {
      direction: ltr;

      > * {
        direction: rtl;
      }
    }
  }
}