

  <div class="am-left-sidebar">
      <div class="content">
        <div class="am-logo"></div>
        <ul class="sidebar-elements">
          <li class="parent"><a href="#"><i class="icon s7-monitor"></i><span>Dashboard</span></a>
            <ul class="sub-menu">
              <li><a href="index.html">Version 1</a>
              </li>
              <li><a href="dashboard2.html">Version 2</a>
              </li>
              <li><a href="dashboard3.html"><span class="label label-primary pull-right">New</span>Version 3</a>
              </li>
              <li><a href="dashboard4.html"><span class="label label-primary pull-right">New</span>Version 4</a>
              </li>
            </ul>
          </li>
          <li class="parent"><a href="#"><i class="icon s7-diamond"></i><span>UI Elements</span></a>
            <ul class="sub-menu">
              <li><a href="ui-general.html">General</a>
              </li>
              <li><a href="ui-alerts.html">Alerts</a>
              </li>
              <li><a href="ui-panels.html">Panels</a>
              </li>
              <li><a href="ui-buttons.html">Buttons</a>
              </li>
              <li><a href="ui-modals.html">Modals</a>
              </li>
              <li><a href="ui-notifications.html">Notifications</a>
              </li>
              <li><a href="ui-icons.html">Icons</a>
              </li>
              <li><a href="ui-grid.html">Grid</a>
              </li>
              <li><a href="ui-tabs-accordions.html">Tabs &amp; Accordions</a>
              </li>
              <li><a href="ui-chat.html"><span class="label label-primary pull-right">New</span>Chat Component</a>
              </li>
              <li><a href="ui-nestable-lists.html">Nestable Lists</a>
              </li>
              <li><a href="ui-typography.html"><span class="label label-primary pull-right">New</span>Typography</a>
              </li>
            </ul>
          </li>
          <li class="parent"><a href="#"><i class="icon s7-graph"></i><span>Charts</span></a>
            <ul class="sub-menu">
              <li><a href="charts-flot.html">Flot</a>
              </li>
              <li><a href="charts-morris.html">Morris.js</a>
              </li>
              <li><a href="charts-sparkline.html">Sparklines</a>
              </li>
            </ul>
          </li>
          <li class="parent"><a href="#"><i class="icon s7-ribbon"></i><span>Forms</span></a>
            <ul class="sub-menu">
              <li><a href="form-elements.html">Elements</a>
              </li>
              <li><a href="form-validation.html">Validation</a>
              </li>
              <li><a href="form-spinner.html"><span class="label label-primary pull-right">New</span>Spinner</a>
              </li>
              <li><a href="form-wizard.html">Wizard</a>
              </li>
              <li><a href="form-masks.html">Input Masks</a>
              </li>
              <li><a href="form-wysiwyg.html">WYSIWYG Editor</a>
              </li>
              <li><a href="form-upload.html">Multi Upload</a>
              </li>
            </ul>
          </li>
          <li class="parent"><a href="#"><i class="icon s7-box2"></i><span>Tables</span></a>
            <ul class="sub-menu">
              <li><a href="tables-general.html">General</a>
              </li>
              <li><a href="tables-datatables.html">Data Tables</a>
              </li>
            </ul>
          </li>
          <li class="parent"><a href="#"><i class="icon s7-note2"></i><span>Pages</span></a>
            <ul class="sub-menu">
              <li class="active"><a href="pages-blank.html">Blank Page</a>
              </li>
              <li><a href="pages-blank-header.html">Blank Page Header</a>
              </li>
              <li><a href="pages-login.html">Login</a>
              </li>
              <li><a href="pages-404.html">404 Page</a>
              </li>
              <li><a href="pages-sign-up.html">Sign Up</a>
              </li>
              <li><a href="pages-forgot-password.html">Forgot Password</a>
              </li>
              <li><a href="pages-profile.html">Profile</a>
              </li>
              <li><a href="pages-calendar.html">Calendar</a>
              </li>
              <li><a href="pages-gallery.html">Gallery</a>
              </li>
              <li><a href="pages-pricing-tables.html"><span class="label label-primary pull-right">New</span>Pricing Tables</a>
              </li>
              <li><a href="pages-timeline.html"><span class="label label-primary pull-right">New</span>Timeline</a>
              </li>
              <li><a href="pages-timeline2.html"><span class="label label-primary pull-right">New</span>Timeline v2</a>
              </li>
              <li><a href="pages-invoice.html"><span class="label label-primary pull-right">New</span>Invoice</a>
              </li>
            </ul>
          </li>
          <li class="parent"><a href="#"><i class="icon s7-mail"></i><span>Email</span></a>
            <ul class="sub-menu">
              <li><a href="email-inbox.html">Inbox</a>
              </li>
              <li><a href="email-read.html">Email Detail</a>
              </li>
              <li><a href="email-compose.html">Email Compose</a>
              </li>
            </ul>
          </li>
          <li class="parent"><a href="#"><i class="icon s7-browser"></i><span>Layouts</span></a>
            <ul class="sub-menu">
              <li><a href="layouts-nosidebar-left.html">Without Left Sidebar</a>
              </li>
              <li><a href="layouts-nosidebar-right.html">Without Right Sidebar</a>
              </li>
              <li><a href="layouts-nosidebars.html">Without Both Sidebars</a>
              </li>
              <li><a href="layouts-white-header.html">White Header</a>
              </li>
              <li><a href="layouts-sticky-footer.html"><span class="label label-primary pull-right">New</span>Sticky Footer</a>
              </li>
              <li><a href="layouts-fixed-sidebar.html">Fixed Left Sidebar</a>
              </li>
              <li><a href="layouts-left-sidebar-click.html"><span class="label label-primary pull-right">New</span>Open left sidebar on click</a>
              </li>
              <li><a href="pages-blank-aside.html">Page Aside</a>
              </li>
            </ul>
          </li>
          <li class="parent"><a href="#"><i class="icon s7-map-marker"></i><span>Maps</span></a>
            <ul class="sub-menu">
              <li><a href="maps-google.html">Google Maps</a>
              </li>
              <li><a href="maps-vector.html">Vector Maps</a>
              </li>
            </ul>
          </li>
        </ul>
        <!--Sidebar bottom content-->
      </div>
    </div>
<!--
<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="profile-element" dropdown>
          <img alt="image" class="img-circle" src="/dist/admin/assets/images/profile_small.jpg">
          <a dropdownToggle>
            <span class="block m-t-xs"> <strong class="font-bold">David Williams</strong> </span>
            <span class="text-muted text-xs block">Art Director <b class="caret"></b> </span>
          </a>
          <ul class="animated fadeInRight dropdown-menu" *dropdownMenu>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Mailbox</a></li>
            <li class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
        <div class="logo-element">
          IN+
        </div>
      </li>
      <li [ngClass]="{active: activeRoute('starter')}">
        <a [routerLink]="['/starterview']"><i class="fa fa-th-large"></i> <span class="nav-label">Starter view</span></a>
      </li>
      <li [ngClass]="{active: activeRoute('dashboards')}">
        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard examples</span> <span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('dashboards')}">
          <li [ngClass]="{active: activeRoute('dashboard1')}"><a [routerLink]="['/dashboards/dashboard1']">Dashboard v.1</a></li>
          <li [ngClass]="{active: activeRoute('dashboard2')}"><a [routerLink]="['/dashboards/dashboard2']">Dashboard v.2</a></li>
          <li [ngClass]="{active: activeRoute('dashboard3')}"><a [routerLink]="['/dashboards/dashboard3']">Dashboard v.3</a></li>
          <li [ngClass]="{active: activeRoute('dashboard4')}"><a [routerLink]="['/dashboards/dashboard4']">Dashboard v.4</a></li>
          <li [ngClass]="{active: activeRoute('dashboard5')}"><a [routerLink]="['/dashboards/dashboard5']">Dashboard v.5</a></li>
        </ul>
      </li>
      <li [ngClass]="{active: activeRoute('login')}">
        <a [routerLink]="['/login']"><i class="fa fa-th-large"></i> <span class="nav-label">Login example</span></a>
      </li>
    </ul>

  </div>
</nav>
-->