<?= $this->doctype() ?>
<?php
if ($this->layout()->isProduction) {
    $prefix = '/' . $this->layout()->lang;
} else {
    $prefix = '/dev';
}
if ($this->layout()->config->get('arbel_admin.theme')) {
    $prefix = '/' . $this->layout()->config->get('arbel_admin.theme') . $prefix;
}
?>
<html>
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle('Dashboard :: Base Admin')->setSeparator(' - ')->setAutoEscape(false) ?>
        <?php if (!file_exists(ROOT_DIR . 'public/dist/admin' . $prefix . '/styles.bundle.js')) { ?>
            <link rel="stylesheet" type="text/css" href="<?= $this->basePath('dist/admin' . $prefix . '/styles.bundle.css') ?>" />
        <?php } ?>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="<?= $this->basePath('dist/admin' . $prefix . '/favicon.ico') ?>">
    </head>
    <body>
    <app-root></app-root>
    <script type="text/javascript" src="<?= $this->basePath('dist/admin' . $prefix . '/inline.bundle.js') ?>"></script>
    <script type="text/javascript" src="<?= $this->basePath('dist/admin' . $prefix . '/polyfills.bundle.js') ?>"></script>
    <script type="text/javascript" src="<?= $this->basePath('dist/admin' . $prefix . '/scripts.bundle.js') ?>"></script>
    <?php if (file_exists(ROOT_DIR . 'public/dist/admin' . $prefix . '/styles.bundle.js')) { ?>
        <script type="text/javascript" src="<?= $this->basePath('dist/admin' . $prefix . '/styles.bundle.js') ?>"></script>
    <?php } ?>
    <script type="text/javascript" src="<?= $this->basePath('dist/admin' . $prefix . '/vendor.bundle.js') ?>"></script>
    <script type="text/javascript" src="<?= $this->basePath('dist/admin' . $prefix . '/main.bundle.js') ?>"></script>
</body>
</html>
