@mixin triangle-base() {
    content: '';
    display: block;
    width: 0;
    height: 0;
    -moz-transform: scale(.9999);
}
@mixin triangle($direction, $size, $color) {
    @include triangle($direction, $size * 2, $size, $color);
}
@mixin triangle($direction, $width, $height, $color)  {
    @include triangle-base();
    border-left: ($width / 2) solid transparent;
    border-right: ($width / 2) solid transparent;
    border-bottom: $height solid $color;
}
@mixin triangle($direction, $width, $height, $color) {
    @include triangle-base();
    border-left: ($width / 2) solid transparent;
    border-right: ($width / 2) solid transparent;
    border-top: $height solid $color;
}
@mixin triangle($direction, $width, $height, $color) {
    @include triangle-base();
    border-top: ($width / 2) solid transparent;
    border-bottom: ($width / 2) solid transparent;
    border-right: $height solid $color;
}
@mixin triangle($direction, $width, $height, $color)  {
    @include triangle-base();
    border-top: ($width / 2) solid transparent;
    border-bottom: ($width / 2) solid transparent;
    border-left: $height solid $color;
}